<div class="card ">
  <div class="card-header card-title">

    <h4>Chercher un livre</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="rechercheform">
      <div class="row">

        <div class="form-group col-md-8">
          <label class="lab">Chercher publication</label>
          <input type="text" class="form-control" formControlName="titre" [(ngModel)]="filtertext"
            placeholder="chercher par titre, auteur, adresse, langue etc..." (input)="toggleResults($event)" >


        </div>

        

      </div>
    </form>
  </div>
</div>

<ng-container *ngIf="!hidden">
  <div *ngFor="let l of publication | myfilter : filtertext ">
    <div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 650px;
    margin: auto;
    text-align: center;
    border-radius: 5%;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img style="width:100%;" src="../assets/apprendre.jpg"></div>
          <div class="col-md-8">
              <h5 style="color: coral">Les détais des publications</h5>
              <div style="font-size: 100%; text-align: left">
                Titre du livre : {{l.titrelivre}}<br>
                Auteur: {{l.auteur}}<br>
                Catégorie : {{l.categorie}}<br>
                Langue : {{l.langue}}<br>
                Adresse : {{l.adresse}}<br>
                Ville : {{l.ville}}<br>
                Code Postale : {{l.code_postale}}<br>
                Edition : {{l.edition}}<br>
                Déscription : {{l.description}}<br>

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-transparent border-info footer-text">dernière modification le 25 juin 2019</div>

    </div>
<br><br>

  </div>
 
</ng-container>