.car1{
    margin-left: 51%;
    margin-top: -30%;
    position : relative;
    border-radius: 3px;
   // box-shadow: -1rem 0 1rem #2f353a;

}

.card
	{
    position : relative;
	height: auto;
	width: auto;
    }
    .card-img-top{
        height: 10%;
        width: 100%;
    }
   