<div class="animated fadeIn">
    <div class="card-columns cols-2">
      <div class="card">
       
        <div class="card-body">
          <form>
            
        <div class="row">
          <div class="col-md-6">
          <div class="form-group">
            <label>Titre du livre *</label>
            <input type="text" class="form-control"  >
           
          </div>
          <div class="form-group">
            <label >Nom *</label>
            <input type="text" class="form-control" >
          
            </div>
            <div class="form-group">
            <label>Prénom *</label>
            <input type="text" class="form-control" >
          
          </div>
        <div class="form-group">
        <label >Nombre des livres *</label>
        <input type="number" class="form-control" >
        </div>
        
          <div class="form-group">
            <label >Adresse *</label>
            <input type="text" class="form-control">
          </div>
         
                  <div>
                    <label >Informations à préciser :</label>
                    <textarea class="form-control rounded-0"  rows="10"></textarea>
                   </div>    
                 
</div>
                 
</div>
                        
          <button type="submit" class="btn btn-primary">Je donne mes livres</button>
          </form>


        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <p>DON DE LIVRES :</p>


            <p>- Vous déménagez et vous avez des cartons de livres à vous débarrasser ?</p> 
             <p>- Vos livres prennent la poussière et de la place ?</p>
             <p>- Les examens sont terminés et vos livres scolaires ne vous servent plus ?</p>
             <p>Ne jetez plus vos livres et donnez leurs une nouvelle vie en faisant un don à Thakafni !</p>
            <p>Grace à vos dons de livres, vous allez faire des heureux !</p>
          </div>
        </div>
      </div>
    </div>