<div class="animated fadeIn">

  <div class="card border-info mb-3 col-md-6">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h5 class="card-title">Publié par Ahmed Mohamed</h5>
          <div class="card-text">
            <p>Ahmed a déposé 50 livres pour faire un don. Veuillez lui contacter pour avoir plus de détails.</p>
            <button class="btn btn-primary" style="margin-left: 88%;">Contacter</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-transparent border-info footer-text">Dernière modification le 25 juin 2019</div>
  </div>


  <div class="card border-info mb-3 col-md-6">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h5 class="card-title">Publié par Sonia Ben Ayed</h5>
            <div class="card-text">
              <p>Ahmed a déposé 5 livres pour faire un don. Veuillez lui contacter pour avoir plus de détails.</p>
              <button class="btn btn-primary" style="margin-left: 88%;">Contacter</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-transparent border-info footer-text">Dernière modification le 25 juin 2019</div>
    </div>


    <div class="card border-info mb-3 col-md-6">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h5 class="card-title">Publié par Mohamed Abedallah</h5>
              <div class="card-text">
                <p>Ahmed a déposé 10 livres pour faire un don. Veuillez lui contacter pour avoir plus de détails.</p>
                <button class="btn btn-primary" style="margin-left: 88%;">Contacter</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent border-info footer-text">Dernière modification le 25 juin 2019</div>
      </div>


      <div class="card border-info mb-3 col-md-6">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h5 class="card-title">Publié par Oussama saleh</h5>
                <div class="card-text">
                  <p>Ahmed a déposé 50 livres pour faire un don. Veuillez lui contacter pour avoir plus de détails.</p>
                  <button class="btn btn-primary" style="margin-left: 77%;">Contacter</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-info footer-text">Dernière modification le 25 juin 2019</div>
        </div>

  <div class="car1">
      <button class="btn btn-primary" style="margin-left: 77%;" (click)="openAddDonModal()">+ Ajouter un don</button>
      <div class="card" style="margin-top: 4%">
        <div class="card-body">
          <p style="font-weight: 700;">DON DE LIVRES :</p>


          <p>- Vous déménagez et vous avez des cartons de livres à vous débarrasser ?</p>
          <p>- Vos livres prennent la poussière et de la place ?</p>
          <p>- Les examens sont terminés et vos livres scolaires ne vous servent plus ?</p>
          <p>Ne jetez plus vos livres et donnez leurs une nouvelle vie en faisant un don à Thakafni !</p>
          <p>Grace à vos dons de livres, vous allez faire des heureux !</p>
        </div>
      </div>
    </div>
  </div>


 
