
<div class="row">
  <div class="col-md-8 scrollable">
    <div *ngFor="let d of don">

  <div class="card border-info mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h5 class="card-title">Publié par {{d.nom}}</h5>
          <div class="card-text">
            <p>{{d.nom}} {{d.prenom}} a déposé {{d.nombre_de_livre}} livres de "{{d.titre}}"" pour faire un don. Veuillez lui contacter pour avoir plus de détails
      
            </p>
            <div *ngIf="show">
              Numero de tel : {{d.tel}}<br>
              Email : {{d.email}}
            </div>
            <button class="btn btn-primary" style="margin-left: 88%;" (click)="showMe()">Contacter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

</div>

<div class="col-md-4" >

<button class="btn btn-primary"  (click)="openAddDonModal()" style="margin-left: 261px;">+ Ajouter un don</button>
        <div class="card" style="width: 103%; margin-left: 1%; margin-top: 12px;">
            <img src="../../assets/img/don.jpg" class="card-img-top" alt="...">
            <div class="card-body" >
                <h5 class="card-title text-center" style="color: #0062cc">Don</h5>
                <p class="card-text">
                    - Vous déménagez et vous avez des cartons de livres à vous débarrasser ? <br>
                    - Vos livres prennent la poussière et de la place ? <br>
                    - Les examens sont terminés et vos livres scolaires ne vous servent plus ? <br>
                    Ne jetez plus vos livres et donnez leurs une nouvelle vie en faisant un don à THAKAFNI !<br>
                    Grace à vos dons de livres, vous allez faire des heureux !
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
</div>
</div>
    
      
