<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
Deposer livre
    
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
              <label >Sélectionner une catégorie *</label>
              <select class="form-control" >
                <option>Romans</option>
                <option>Comics</option>
                <option>Livres de cuisine </option>
                <option>livres de jeunesses</option>
              </select>
              </div>
      
        <div class="form-group">
          <label>Titre du livre *</label>
          <input type="text" class="form-control"   placeholder="Entrer le titre du livre">
         
        </div>
        <div class="form-group">
          <label >Auteur  du livre *</label>
          <input type="text" class="form-control"  placeholder="Entrer l'auteur du livre">
        
          </div>
          <div class="form-group">
          <label>Edition du livre *</label>
          <input type="text" class="form-control"  placeholder="Entrer l'édition du livre">
        
        </div>
      <div class="form-group">
      <label >Langue du livre *</label>
      <input type="text" class="form-control"   placeholder="Entrer la langue du livre">
      
      </div>
      <div class="form-group">
      <label >Edition du livre *</label>
      <input type="text" class="form-control"   placeholder="Entrer l'édition du livre">
      
      </div>
        <div class="form-group">
          <label >Adresse *</label>
          <input type="text" class="form-control" placeholder="Entrer votre adresse ">
        </div>
        <div class="form-group">
            <label >Ville *</label>
            <input type="text" class="form-control" placeholder="Entrer votre ville">
            </div>

            <div class="form-group">
              <label >code postale *</label>
              <input type="text" class="form-control" placeholder="Entrer votre code postal" maxlength="4">
              </div>
              <div class="form-group">
                <label>Mots clés *</label>
                <input type="text" class="form-control" placeholder="Entrer les mots clés sur le livre ">
                </div>
                <div>
                  <label >Description</label>
                  <textarea class="form-control rounded-0"  rows="10"></textarea>
                 </div>
                 
                    <div class="form-group">

                        <input type="file" name="image" placeholder="Ajouter une image du livre" />
                      </div>
                
                      
        <button type="submit" class="btn btn-primary">Deposer</button>
        </form>
      </div>
    </div>
  </div>
</div>
