<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="loginform">
                <h1>Se connecter</h1>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="email" class="form-control" placeholder="email" autocomplete="email"
                    formControlName="email">
                  <div *ngIf="submitted && loginform.email.errors" class="invalid-feedback">
                    <div *ngIf="loginform.email.errors.required" class="validation-errors">Saisir votre email!</div>
                  </div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Mot de passe" autocomplete="current-password"
                    formControlName="password">
                </div>
                <div *ngIf="submitted && loginform.password.errors" class="invalid-feedback">
                  <div *ngIf="loginform.password.errors.required">Saisir votre email!</div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4" (click)="Signin()">Connecter</button>
                  </div>
                  <p style="color: red">{{errorMessage}}</p>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0" (click)="resetPassword()">Mot de passe
                      oublié?</button>
                  </div><br><br>
                  <a routerLink='/register'>Inscrivez-vous gratuitement</a>

                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
</div>