

<div *ngFor="let list of publication">



  <!----<div class="card border-info mb-3 col-md-8">
    <div class="card-header bg-transparent border-info">
        
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img style="width: 75%;" src="../assets/exemple.jpg"></div>
        <div class="col-md-8">
          <h5 class="card-title">{{list.titrelivre}} - {{list.auteur}}</h5>
          <div class="card-text">
            <p>Langue : {{list.langue}}</p>
            <p>Catégorie : {{list.categorie}}</p>
            <p>Adresse : {{list.adresse}}</p>
            <a (click)="openPubDetailmodal()">Voir les détails</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-transparent border-info footer-text">dernière modification le 25 juin 2019</div>
!-->
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <img class="card__background--main" src="../assets/livreimg/changerleau.jpg">
              <div class="card__background--layer"></div>
            </div>
          </div>
          <div class="blog-card__head">
            <span class="date__box">
              <span class="date__day">{{list.categorie}}</span>
            </span>
          </div>
          <div class="blog-card__info">
            <h5 style="color: coral">Les détais des publications</h5>
            <div style="font-size: 120%">
                Titre du livre : {{list.titrelivre}}<br>
              Auteur: {{list.auteur}}<br>
              Langue : {{list.langue}}<br>
              Adresse : {{list.adresse}}<br>
              Ville :  {{list.ville}}<br>
              Code Postale : {{list.code_postale}}<br>
              Edition : {{list.edition}}<br>
              Déscription : {{list.description}}<br>

            </div>
            
          </div>
        </article>
      </div>
</div>

</div>
<section class="detail-page">
    <div class="container mt-5">
  
    </div>
  </section>
</div>


  
