<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <img class="card__background--main" src="../assets/livreimg/changerleau.jpg">
            <div class="card__background--layer"></div>
          </div>
        </div>
        <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day">11</span>
            <span class="date__month">JAN</span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5>Changer l'eau des fleurs</h5>
          <p>
            Auteur: Valérie Perrin

          </p>
          <p>Violette Toussaint est garde-cimetière dans une petite ville de Bourgogne. Les gens de passage et les
          </p>
          <p *ngIf="show"> habitués viennent se réchauffer dans sa loge où rires et larmes se mélangent au café qu’elle
            leur offre. Son quotidien est rythmé par leurs confidences. Un jour, parce qu’un homme et une femme ont
            décidé de reposer ensemble dans son carré de terre, tout bascule. Des liens qui unissent vivants et morts
            sont exhumés, et certaines âmes que l’on croyait noires, se révèlent lumineuses.</p>
          <a (click)="showMe()" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>Lire la
            suite</a>
        </div>
      </article>
    </div>
    <div class="col-md-6">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <img class="card__background--main" src="../assets/livreimg/lanuit.jpg">
            <div class="card__background--layer"></div>
          </div>
        </div>
        <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day">20</span>
            <span class="date__month">FEV</span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5>LA JEUNE FILLE ET LA NUIT</h5>
          <p>
            Auteur: Guillaume Musso

          </p>
          <p>Un campus prestigieux figé sous la neige
            Trois amis liés par un secret tragique
            Une jeune fille emportée par la nuit</p>
          <div class="a" *ngIf="show1">
            <h4>Côte d’Azur - Hiver 1992</h4><br>
            Une nuit glaciale, alors que le campus de son lycée est paralysé par une tempête de neige, Vinca Rockwell,
            19 ans, l’une des plus brillantes élèves de classes prépas, s’enfuit avec son professeur de philo avec qui
            elle entretenait une relation secrète. Pour la jeune fille, « l’amour est tout ou il n’est rien ».
            Personne ne la reverra jamais.<br><br>

            <h4>ôte d’Azur - Printemps 2017</h4><br>
            Autrefois inséparables, Fanny, Thomas et Maxime – les meilleurs amis de Vinca – ne se sont plus parlé depuis
            la fin de leurs études. Ils se retrouvent lors d’une réunion d’anciens élèves. Vingt-cinq ans plus tôt, dans
            des circonstances terribles, ils ont tous les trois commis un meurtre et emmuré le cadavre dans le gymnase
            du
            lycée. Celui que l’on doit entièrement détruire aujourd’hui pour construire un autre bâtiment.<br><br>
          </div>

          <a (click)="showMe1()" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>Lire la
            suite</a>
        </div>
      </article>
    </div>
  </div>
  <section class="detail-page">
    <div class="container mt-5">

    </div>
  </section>
  <div class="row">
    <div class="col-md-6">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <img class="card__background--main" src="../assets/livreimg/lejour.jpg">
            <div class="card__background--layer"></div>
          </div>
        </div>
        <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day">3</span>
            <span class="date__month">MAR</span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5>Le jour ou les lions mangeront de la salade verte </h5>
          <p>
            Auteur: Raphaëlle Giordano
          </p>
          <p>Romane a toujours le trac avant une conférence. Ce jour-là, au moment où elle s'apprête à prendre la parole
            le micro part dans un terrible larsen. </p>
          <p *ngIf="show2">Un homme au premier rang s'esclaffe : " Ah ! Les femmes et la technologie... " Romane rend
            silencieusement grâce à cet homme, qui lui permet de confirmer l'importance et l'ampleur de sa mission :
            réduire le taux de burnerie. Les symptômes de ce mal aussi bien féminin que masculin sont connus : sentiment
            de supériorité, égocentrisme, penchant naturel pour les jeux de pouvoir ou les rapports de force, inflation
            de l'égo, mauvaise foi, etc. C'est parce que les burnés sont légion que Romane a décidé de créer sa société
            Sup' de burnes, et d'aider ses stagiaires dans leur parcours de déburnerie. Ses méthodes originales et
            surprenantes ont le vent en poupe. Lors d'une nouvelle session Romane accueille Emilie, Nathalie, Patrick,
            Bruno, et le charismatique Maximilien Vogue, célèbre PDG d'un des plus grands groupes cosmétiques au monde.
            Charismatique... et terriblement burné ! Romane aura du pain sur la planche, tant pour l'accompagner à
            changer que pour lui résister...</p>
          <a (click)="showMe2()" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>Lire la
            suite</a>
        </div>
      </article>
    </div>
    <div class="col-md-6">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <img class="card__background--main" src="../assets/livreimg/estgrand.jpg">
            <div class="card__background--layer"></div>
          </div>
        </div>
        <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day">6</span>
            <span class="date__month">MAI</span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5>Il est grand temps de rallumer les etoiles </h5>
          <p>
            Auteur:Virginie Grimaldi
          </p>
          <p>Anna, 37 ans, croule sous le travail et les relances des huissiers.
            Ses filles, elle ne fait que les croiser au petit déjeuner.</p>
          <p *ngIf="show3">Sa vie défile, et elle l’observe depuis la bulle dans laquelle elle s’est enfermée.
            À 17 ans, Chloé a des rêves plein la tête mais a choisi d’y renoncer pour aider sa mère. Elle cherche de
            l’affection auprès des garçons, mais cela ne dure jamais. Comme le carrosse de Cendrillon, ils se
            transforment après l’amour.<br>
            Lily, du haut de ses 12 ans, n’aime pas trop les gens. Elle préfère son rat, à qui elle a donné le nom de
            son père, parce qu’il a quitté le navire.
            Le jour où elle apprend que ses filles vont mal, Anna prend une décision folle : elle les embarque pour un
            périple en camping-car, direction la Scandinavie. Si on ne peut revenir en arrière, on peut choisir un autre
            chemin.<br>

            Anna, Chloé, Lily. Trois femmes, trois générations, trois voix qui se répondent. Une merveille d’humour,
            d’amour et d’humanité.<br>

            Romancière à succès, Virginie Grimaldi est l’auteure de trois best-sellers, Le Premier Jour du reste de ma
            vie, Tu comprendras quand tu seras plus grande et Le Parfum du bonheur est plus fort sous la pluie.</p>
          <a (click)="showMe3()" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>Lire la
            suite</a>
        </div>
      </article>
    </div>
  </div>
  <section class="detail-page">
    <div class="container mt-5">

    </div>
  </section>
  <div class="row">
    <div class="col-md-6">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <img class="card__background--main" src="../assets/livreimg/ladesparition.jpg">
            <div class="card__background--layer"></div>
          </div>
        </div>
        <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day">3</span>
            <span class="date__month">MAR</span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5>La disparition de stephanie mailer </h5>
          <p>
            Auteur : Joël Dicker
          </p>
          <p>30 juillet 1994. Orphea, petite station balnéaire tranquille des Hamptons dans l’État de New York, est
            bouleversée par un effroyable fait divers</p>
          <p *ngIf="show4">le maire de la ville et sa famille sont assassinés chez eux, ainsi qu’une passante, témoin
            des meurtres.
            L’enquête, confiée à la police d’État, est menée par un duo de jeunes policiers, Jesse Rosenberg et Derek
            Scott. Ambitieux et tenaces, ils parviendront à confondre le meurtrier, solides preuves à l’appui, ce qui
            leur vaudra les louanges de leur hiérarchie et même une décoration.<br>
            Mais vingt ans plus tard, au début de l’été 2014, une journaliste du nom de Stephanie Mailer affirme à Jesse
            qu’il s’est trompé de coupable à l’époque.
            Avant de disparaître à son tour dans des conditions mystérieuses.<br>

            Qu’est-il arrivé à Stephanie Mailer ?
            Qu’a-t-elle découvert ?
            Et surtout: que s’est-il vraiment passé le soir du 30 juillet 1994 à Orphea ?</p>
          <a (click)="showMe4()" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>Lire la
            suite</a>
        </div>
      </article>
    </div>
    <div class="col-md-6">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <img class="card__background--main" src="../assets/livreimg/latresse.jpg">
            <div class="card__background--layer"></div>
          </div>
        </div>
        <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day">6</span>
            <span class="date__month">MAI</span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5> La tresse </h5>
          <p>
            Auteur : Laetitia Colombani
          </p>
          <p>Trois femmes, trois vies, trois continents. Une même soif de liberté.
            Inde. Smita est une Intouchable.
          </p>
          <p *ngIf="show5">
            Elle rêve de voir sa fille échapper à sa condition misérable et entrer à l’école.<br>

            Sicile. Giulia travaille dans l’atelier de son père. Lorsqu’il est victime d’un accident, elle découvre que
            l’entreprise familiale est ruinée.<br>

            Canada. Sarah, avocate réputée, va être promue à la tête de son cabinet quand elle apprend qu’elle est
            gravement malade.<br>

            Liées sans le savoir par ce qu’elles ont de plus intime et de plus singulier, Smita, Giulia et Sarah
            refusent le sort qui leur est destiné et décident de se battre. Vibrantes d’humanité, leurs histoires
            tissent une tresse d’espoir et de solidarité.
          </p>
          <a (click)="showMe5()" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>Lire la
            suite</a>
        </div>
      </article>
    </div>
    <section class="detail-page">
      <div class="container mt-5">

      </div>
    </section>
  </div>

</div>

<section class="detail-page">
  <div class="container mt-5">

  </div>
</section>