<div class="app-body">
        <main class="main d-flex align-items-center">
          <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card-group">
                        <div class="card mx-4">
                            <div class="card-body">

<form [formGroup]="contactform">
        <h1>Contacter nous</h1>
        <div class="form-group">
            
          <label for="exampleInputEmail1">Address email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Message</label>
          <textarea class="form-control rounded-0"  rows="10"formControlName="message"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </main>
      </div>
      