<div class="animated fadeIn">
          <div class="card " >
            <div class="card-header card-title ">
              <h4>
                Déposer un livre</h4>
                 
            </div>
  <div class="card-body ">
    <form [formGroup]="contactForm">

      <div class="form-group">
        <i class="fa fa-user prefix grey-text"></i> <label for="contactFormName">Nom</label>

        <input type="text" id="contactFormName" formControlName="contactFormName" class="form-control" mdbInputDirective
          [(ngModel)]="itemName">

      </div>

      <div class="form-group">
        <i class="fa fa-envelope prefix grey-text"></i> <label for="contactFormEmail">Email</label>

        <input type="email" id="contactFormEmail" formControlName="contactFormEmail" class="form-control"
          mdbInputDirective [(ngModel)]="itemEmail">

      </div>
      <div class="form-group">
        <i class="fa fa-tag prefix grey-text"></i> <label for="contactFormSubject">Objet</label>

        <input type="text" id="contactFormSubject" formControlName="contactFormSubject" class="form-control"
          mdbInputDirective [(ngModel)]="itemSubject">

      </div>
      <div class="form-group">
          <i class="fa fa-pencil prefix grey-text"></i> <label for="contactFormMessage">Votre message</label>
  <br>
         <textarea type="text" rows="10" cols="180"  id="contactFormMessage" formControlName="contactFormMessage" class="md-textarea"
          mdbInputDirective [(ngModel)]="itemMessage">
            </textarea>
  
        </div>
      

      <div class="text-center">


        <button [disabled]="contactForm.invalid" (click)="onSubmit()" (click)="clearForm()" type="submit"
          class="btn btn-primary" mdbWavesEffect style="margin-left: 90%;">Envoyer
        </button>
        <br>
      </div>
    </form>
  </div>
</div>
</div>