.modal-header {
    margin: 0 auto;
    width: 80%;
    background-color: #9791e7;
}

.btn {
    background-color: #9791e7;
}

.container {
    padding-top: 100px;
}

.card {
    padding: 15px 30px;
    width: 80%;
    margin: auto;
}

#email,
#phone {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: .5em;
}

span.x {
    color: #fff;
}