.card-header {
    margin: 0 auto;
    width: 100%;
    background-color: #346ce6;
}




#email,
#phone {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: .5em;
}
