<div *ngFor="let list of publication " >

<div class="modal-header">
        <h4 class="modal-title">Les details du publication</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

            <div class="row">
                    <div class="col-md-4">
                  <img style="width: 75%;" src="../assets/exemple.jpg"></div>
                  <div class="col-md-8">
                  <h5 class="card-title">{{list.titrelivre}} </h5>
                  <div class="card-text">
                      <p>Auteur :  {{list.auteur}}</p>
                    <p>Langue : {{list.langue}}</p>
                    <p>Catégorie : {{list.categorie}}</p>
                    <p>Adresse : {{list.adresse}}</p>
                    <p>Edition du livre : {{list.edition}}</p>

                    <p>Description : {{list.description}}</p>
                    <p>Code postale : {{list.code_postale}}</p>
                    <p>Ville : {{list.ville}}</p>

                </div>
              </div>
                </div>
              </div>
                <div class="card-footer bg-transparent border-info footer-text">dernière modification le 25 juin 2019</div>
</div>